{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    <fieldset style="border:10px solid black;padding :30px;">
    <center><legend style="background-color: black;color: #fff;padding: 5px 10px;">Genres</legend></center>
    
    <div class="container">
        <div class="row">
        {% for genre in genres %}
            <div class="col-4">
            <div class="card border-dark m-1" style="width: 18rem;">
                    <div class="card-body" style="display:inline;">
                        <h5 class="card-title">Genre {{ genre.id }}</h5>
                        <h6 class="card-title">Nom : {{ genre.nom }}</h3>
                        {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
                        <a href="{{ path('genre_show', {'id': genre.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-warning">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="display:inline;">
                <h5 class="card-title">no records found</h5>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <a href="{{ path('genre_new') }}" class="btn btn-primary">Create new</a>
    {% endif  %}
{% endblock %}
