{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    <fieldset style="border:10px solid #01579B;padding :30px;background:#81D4FA">
    <center><legend style="background-color: #01579B;color: #fff;padding: 5px 10px;">"Genre"</legend></center>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.nom }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">show</a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genre_new') }}">Create new</a>
{% endblock %}
