{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
    <fieldset style="border:10px solid black;padding :30px;">
    <center><legend style="background-color: black;color: #fff;padding: 5px 10px;">Genres</legend></center>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ genre.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('genre_index') }}" class="btn btn-primary">back to list</a>
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-warning">edit</a>

    {{ include('genre/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
