{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    <fieldset style="border:10px solid #263238;padding :30px;background:#B0BEC5">
    <center><legend style="background-color: #263238;color: #fff;padding: 5px 10px;">"Livre"</legend></center>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Nombre_pages</th>
                <th>Date_de_parution</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('d-m-Y') : ''  }}</td>
                <td>{{ livre.note }}</td>
                <td>
                {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
        <a href="{{ path('livre_new') }}">Create new</a>
    {% endif %}
{% endblock %}
