{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}

    <fieldset style="border:10px solid #263238;padding :30px;background:#B0BEC5">
    <center><legend style="background-color: #263238;color: #fff;padding: 5px 10px;">"Livre"</legend></center>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Nombre_pages</th>
                <td>{{ livre.nombrePages }}</td>
            </tr>
            <tr>
                <th>Date_de_parution</th>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ livre.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livre_index') }}">back to list</a>
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
    {{ include('livre/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
