{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    <fieldset style="border:10px solid black;padding :30px;">
    <center><legend style="background-color: black;color: #fff;padding: 5px 10px;">Auteurs</legend></center>

    <div class="container">
        <div class="row">
        {% for auteur in auteurs %}
            <div class="col-4">
            <div class="card border-dark m-1" style="width: 18rem;">
                    <div class="card-body" style="display:inline;">
                        <h5 class="card-title">{{ auteur.nomPrenom }}</h5>
                        <h6 class="card-title">ID : {{ auteur.id }}</h3>
                        <h6 class="card-title">Sexe : {{ auteur.sexe }}</h3>
                        <h6 class="card-title">Nationalité : {{ auteur.nationalite }}</h3>
                        <h6 class="card-title">Date de naissance : {{ auteur.dateDeNaissance|date('d-m-Y') }}</h3>
                        {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
                        <a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-warning">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="display:inline;">
                <h5 class="card-title">no records found</h5>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <a href="{{ path('auteur_new') }}" class="btn btn-primary">Create new</a>
    {% endif  %}
    </fieldset>
{% endblock %}
