{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <fieldset style="border:10px solid black;padding :30px;">
    <center><legend style="background-color: black;color: #fff;padding: 5px 10px;">Utilisateurs</legend></center>
        {% for user in users %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Utilisateur {{ user.id }}</h5>
                <h6 class="card-title">Email : {{ user.email }}</h3>
                <h6 class="card-title">Roles : {{ user.roles ? user.roles|json_encode : '' }}</h3>
                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">Show</a>
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">edit</a>
            </div>
        </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
        <a href="{{ path('user_new') }}" class="btn btn-primary mt-3">Create new</a>
    {% endif  %}
{% endblock %}
